.contenedor-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}
.titulo-nosotros {
  display: flex;
  font-size: 4rem;
}
.contenedor-tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
  justify-content: space-evenly;
}
.tarjeta {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
}
.imagen-nosotros {
  width: 250px;
  height: 250px;
  border-radius: 1rem;
}
.nombreapellido-nosotros {
  padding-top: 0.4rem;
  font-size: 2rem;
}
/* **** Medias *** */
@media screen and (min-width: 768px) {
  .contenedor-nosotros {
    width: 100vw;
  }
  .contenedor-tarjetas {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .contenedor-nosotros {
    width: 80vw;
  }
  .contenedor-tarjetas {
    width: 80%;
  }
}
