.contenedor-principal {
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* flex-direction: row; */
}

.contenedor-acerca {
  width: 80vw;
  /* margin-top: 50px; */
}

.img-acerca {
  width: 50%;
  border-radius: 2rem;
  padding: 1rem;
  /* height: 50px; */

  /* clip-path: circle(20% at 50% 40%); */
  /* margin-top: -160px;
  margin-left: -50px; */
}
.acercaTxt {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}
/* **** Medias *** */
@media screen and (min-width: 768px) {
  .contenedor-principal {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 80vw;
  }
  .img-acerca {
    width: 30%;
    border-radius: 2rem;
    padding: 1rem;
  }
  .acercaTxt {
    width: 95%;
    font-size: 1.7rem;
    line-height: 2.7rem;
    color: #000;
  }
}
@media screen and (min-width: 1440px) {
  .acercaTxt {
    width: 90%;
    font-size: 2rem;
    line-height: 3rem;
  }
}
